# Dependency directory
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Operating system specific files
.DS_Store    # macOS
Thumbs.db    # Windows

# IDE/editor settings
.vscode/
.idea/
